* {
    align-content: center;
    text-align: center;
}
table {
    border-style: solid;
    border-color: black;
    border-width: 0.5rem;
}
.delete {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3rem;
    margin-bottom: 0;
}
#add-course {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 3rem; 
    margin-bottom: 1rem;
}